/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Header styles */
.header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.nav-items a {
    text-decoration: none;
    color: #fff;
    margin-right: 1rem;
}

/* Main content styles */
main {
    padding: 2rem;
}

.intro {
    text-align: center;
    margin-bottom: 2rem;
}

.intro h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.intro p {
    font-size: 1.1rem;
    color: #777;
}

/* Featured products styles */
.featured-products {
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem; /* equal spacing - even if last row has fewer elements */
    flex-wrap: wrap;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    width: calc(25% - 1rem);
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.product-card p {
    font-size: 1rem;
    color: #777;
}

.product-card span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.social-icons a {
    color: #fff;
    margin-right: 1rem;
    font-size: 1.5rem;
}

/* product details */

.product-details {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}

.product-details img {
    max-width: 100%;
    margin-bottom: 1rem;
}

.product-details h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.product-details .description {
    font-size: 1rem;
    color: #777;
    margin-bottom: 1rem;
}

.product-details .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.product-details .buy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.product-details .buy-button:hover {
    background-color: #0056b3;
}

/* login */

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* contact */

.input-container form {
    max-width: 400px;
    margin: 0 auto;
}

.input-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.input-container input, .input-container textarea, .input-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}