<header class="header">
    <a href="../" class="logo">Marketplace</a>
    <nav class="nav-items">
        <a href="../">Products</a>
        <a href="../sell">Sell</a>
        <a href="../contact">Contact</a>
        <% if(user) { %>
            <a href="../logout">Logout</a>
            <a href="../user"><%= user.displayName %></a>
        <% } else{ %>
            <a href="../login">Login</a>
        <% } %>
    </nav>
</header>