<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css"> <!-- Link to your CSS file -->
    <title>Marketplace</title>
</head>

<body>
    <!-- Main Content Section -->
    <main>
        Hello
    </main>
</body>

</html>