<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/market.css"> <!-- Link to your CSS file -->
    <title>Marketplace</title>
</head>
<body>
    <!-- Header Section -->
    <%- include('partials/header.ejs') %>

    <!-- Main Content Section -->
    <main>
        <div class="login-container">
            <h1>Login</h1>
            <form action="process_login.php" method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>

                <button type="submit">Login</button>
            </form>
        </div>
        <hr>
        <div class="login-container">
            <h1>Or</h1>
            <a href="/auth/google" class="google-button">
                <img src="img/google.png" alt="Google Logo" width="20" height="20">
                Sign in with Google
            </a>
        </div>
    </main>

    <!-- Footer Section -->
    <%- include('partials/footer.ejs') %>
</body>
</html>
